@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
  color: #475569;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .heading-1 {
    @apply text-slate-900 font-semibold m-0 text-4xl;
  }
  .heading-2 {
    @apply text-slate-900 font-semibold m-0 text-2xl;
  }
  .heading-3 {
    @apply text-slate-900 font-semibold m-0 text-xl;
  }
  .heading-4 {
    @apply text-slate-900 font-semibold m-0;
  }
  .heading-5 {
    @apply text-slate-900 font-semibold m-0 text-sm;
  }
  .heading-6 {
    @apply text-slate-900 font-semibold m-0 text-xs;
  }
}
